<?xml version="1.0" encoding="UTF-8"?>

<config>
    <modules>
        <Pasinter_BrowseBy>
            <version>0.7.0</version>
        </Pasinter_BrowseBy>
    </modules>
    <global>
        <blocks>
            <browseby>
                <class>Pasinter_BrowseBy_Block</class>
            </browseby>
        </blocks>
        <helpers>
            <browseby>
                <class>Pasinter_BrowseBy_Helper</class>
            </browseby>
        </helpers>
    </global>
    <frontend>
        <routers>
            <browseby>
                <use>standard</use>
                <args>
                    <module>Pasinter_BrowseBy</module>
                    <frontName>browseby</frontName>
                </args>
            </browseby>
        </routers>
        <layout>
            <updates module="Pasinter_BrowseBy">
                <browseby>
                    <file>browseby.xml</file>
                </browseby>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <browseby>
                <class>Pasinter_BrowseBy_Model</class>
            </browseby>
        </models>
        <blocks>
            <browseby>
                <class>Pasinter_BrowseBy_Block</class>
            </browseby>
        </blocks>
    </global>
    <default>
        <catalog>
            <browse_by>
                <url_prefix>browse</url_prefix>
            </browse_by>
        </catalog>
    </default>
    <stores>
        <default>
            <web>
                <routers>
                    <browseby>
                        <class>Pasinter_BrowseBy_Controller_Router</class>
                    </browseby>
                </routers>
            </web>
        </default>
    </stores>
</config>